<!DOCTYPE html>
<html>
<head>
  <title>Meteorologist</title>

  <link rel="stylesheet" type="text/css" href="stylesheet.css">

  <!-- Connect to Bootstrap Javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>

<nav>
  <ul>
    <li><a href="/street_to_coords/new">Street &rarr; Coords</a></li>
    <li><a href="/coords_to_weather/new">Coords &rarr; Weather</a></li>
    <li><a href="/street_to_weather/new">Street &rarr; Weather</a></li>
  </ul>
</nav>

<%= yield %>

</body>
</html>
